.order-wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
}

.order {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    position: relative;
}

.day-information {
    position: absolute;
    z-index: 500;
    background: white;
    width: 100%;
    background: #009879;
    color: white;
}

.current-date, .delivery-times {
    width: 100%;
    text-align: center;

}

.delivery-times {
    display: flex;
    justify-content: space-around;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
}

.delivery-times > div:first-child {
    border-right: 1px solid grey;
}

.delivery-times > div {
    min-width: 50%;
}

.products-grid {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-column-gap: 19px;
    grid-row-gap: 19px;
    margin: 36px;
    justify-items: center;
}
.forms {
    margin-top: 84px;
    max-height: 693px;
    overflow: scroll;
    overflow-x: hidden;
    background: #2a9d8f;
}
.product {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .25s ease-in-out, z-index 0s;
    z-index: 200;
}

.product > img, .product {
    max-width: 100%;
    height: 100%;
}

.product > input {
    position: absolute;
    border: none;
    height: 100%;
    width: 100%;
    background-color: transparent;
    font-size: 0px;
    font-family: system-ui;
    font-weight: 700;
    cursor: pointer;
    transition: all .25s ease-in-out;
    border-radius: 0px;
    box-shadow: none;
    color: black!important;
}

.product-price, .product-stock {
    position: absolute;
    z-index: 1000;
    font-size: 0px;
    transition: all .25s ease-in-out;
    user-select: none;
}

.product-stock {
    right: 0px;
    bottom: 0px;
    margin: 5px;
}

.product:hover > .product-price {
    font-size: 20px;
    transform: translateY(24px);
}

.product:hover > .product-stock {
    font-size: 12px;
}

.product:hover, .product-underlay:hover > .product {
    transform: scale(1.1) translatey(-26px);
    z-index: 10000;
}

.product:hover > input, .product-underlay:hover > .product > input {
    font-size: 20px;
    background-color: #ffffffc9;
    z-index: 5;
}

.order-display {

}

.order-display > form {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 25px;
    margin-top: 0px;
    align-items: flex-start;
}

.user-input {
    display: flex;
    flex-direction: column;
}

.user-input > input {
    background: #009879;
    color: white;
    border: 2px solid grey;
}

.user-input > input::placeholder {
    color: white;
}

input {
    border-radius: 5px;
    font-size: 12px;
    border: none;
}

.user-input > input {
    margin-bottom: 10px;
    padding: 5px;
}

h1 {
    color: white;
}